body {
    background-color: rgb(107, 167, 107);
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    color: darkgreen;
}

h4 {
    color: darkgreen;
}

p {
    color: darkgreen;
    width: 600px;
}

ul {
    color: darkgreen; 
}

ol {
    color: darkgreen;
}

.top {

}

.left {
    width: 600px;
    float: left;
}

.right {

}