body {
    background-color: rgb(140, 182, 140);
    color: rgb(49, 71, 11);
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    font-weight: lighter;
    font-style: normal;
}

.playwrite-cu- {
  font-family: "Playwrite CU", cursive;
  font-optical-sizing: auto;
  font-weight: 150;
  font-style: normal;
}

.mulish- {
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    font-weight: lighter;
    font-style: normal;
  }
  

h2 {
    color: white;
    font-family: "Playwrite CU", cursive;
  font-optical-sizing: auto;
  font-weight: 150;
  font-style: normal;
}

h4 {
  color: white;
    font-family: "Playwrite CU", cursive;
  font-optical-sizing: auto;
  font-weight: 150;
}

h5 {
  font-weight: lighter;
}

p {
    width: 600px;
}

.left {
    width: 600px;
    float: left;
}

.right {
    width: 600px;
    float:left;
}

#titles {
    color: white;
    font-family: "Playwrite CU", cursive;
  font-optical-sizing: auto;
  font-weight: 150;
  font-style: normal;
}
