body {
    background-color: rgb(140, 182, 140);
    color: darkolivegreen;
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    font-weight: lighter;
    font-style: normal;
}

// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 400

.playwrite-cu- {
  font-family: "Playwrite CU", cursive;
  font-optical-sizing: auto;
  font-weight: 150;
  font-style: normal;
}

.mulish- {
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    font-weight: lighter;
    font-style: normal;
  }
  

h2 {
    color: white;
    font-family: "Playwrite CU", cursive;
  font-optical-sizing: auto;
  font-weight: 150;
  font-style: normal;
}

p {
    width: 600px;
}

.left {
    width: 600px;
    float: left;
}

.right {
    width: 600px;
    float:left;
    margin-left: 50;
}

#titles {
    color: white;
    font-family: "Playwrite CU", cursive;
  font-optical-sizing: auto;
  font-weight: 150;
  font-style: normal;
}
