#root {
  width: 50%;
  height: 100%;
  background-position: center;
  display: flex;
  justify-content: center;
  padding: 20px; 
  box-sizing: border-box;
  margin:5% auto auto;
}

body {
  height: 100vh;
  background-image: url('weatherimages.jpg');
  background-repeat: repeat repeat;
  background-position:left;
  background-size:auto;
  box-sizing: border-box;
  display: flex;
}

* {
  font-family: sans-serif;
  color:cornflowerblue;
}

input {
font-size: larger;
}

button {
font-size: larger;
}

/* RESPONSIVENESS*/
@media (max-width: 1400px) {
  * {
    color:cornflowerblue;
  }
}
@media (max-width: 1200px) {
  * {
    color:white;
  }
  
}
@media (max-width: 950px) {
  * {
    color:black;
  } 
}
@media (max-width: 750px) {
  #root{
  width: 100%;
  background-image: none;
  }
}