:root {
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
  font-family: monospace;
  line-height:2.5;
  font-size: 1.2rem;
  /* font-weight: 400; */

  color-scheme: light dark;
  /* color: rgba(255, 255, 255, 0.87); */
  /* background-color: #242424; */
  background-color: aquamarine;
  color:black;


  /* font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

h3 {
  color:gray;
}

button {
  font-size: larger;
  background-color: black;
  color: aquamarine;
  border: .5em solid lightpink;
  padding: 1%;
}