#root {

  color:white;
  background-color: #c5baeb;
  width: 100%;
  height: 100%;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
}

body {
  background-image: url('weatherimages.jpg');
  background-repeat: round;
  background-position: center; /* Center the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  box-sizing: border-box;
  display: flex;
  padding: 20px;

}
