#root {
  background-color:#cdbee6;
  width: 80%;
  height: 100%;
  background-position: center;
  display: flex;
  justify-content: center;
  padding: 20px; 
  box-sizing: border-box;
  margin:5% auto auto auto;
  font-size: 30px;
}

body {
  height: 100vh;
  background-image: url('weatherimages.jpg');
  background-repeat: repeat repeat;
  background-position:left;
  background-size:auto;
  box-sizing: border-box;
  display: flex;
  font-family: sans-serif;
  color:cornflowerblue;
}


* {
  margin:auto;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

input {
  width: 75%;
  font-size: 30px;
  color:gray;
}


button {
  width: 50%;
  font-size: 30px;
  color:gray;
  text-align: left;
}

img {
  width: 40%;
}


/* RESPONSIVENESS*/
@media (max-width: 1400px) {
  * {
    color:cornflowerblue;
  }
  #weather {
    font-size: large;
  }
}
@media (max-width: 1200px) {
  * {
    color:rgb(246, 246, 139);
  }
  #weather {
    font-size: medium;
  }
}

@media (max-width: 750px) {
  * {
    color:white;
  } 
  #weather {
    font-size: medium;
  }
}