#root {

  color:white;
  background-color: rgba(198, 188, 235, 0.85);
  width: 50%;
  height: 25%;
  background-position: center;
  display: flex;
  justify-content: center;
  padding: 20px; 
  box-sizing: border-box;
  margin:0 auto 0;
}

body {
  height: 100vh;
  background-image: url('weatherimages.jpg');
  background-repeat: no-repeat;
  background-position: center; /* Center the image */
  background-size: 100% 100%;
  box-sizing: border-box;
  display: flex;
  /* padding: 20px; */
}
