* {
    font-family: monospace;
}


body {
    color:green;
    background-color: white;

    display: flex;
    align-items: center;

    margin: 30px;
}

.coin-container {
    margin:30px;
    padding: 30px;

    border-style: double;
    border-width: 5px;
    border-color: green;

    background-color: white;

    perspective: 1000px;
    cursor: pointer;
}

/* built in flipping animation!!! */
#coin.flipping {
    transform: rotateY(720deg);
 
}

#coin {
    /* keeps coin from going flat */
    transform-style: preserve-3d;
    transition: all 0.5s ease-out;
}


p {
    font-size: 20px;
}